@model UpdateProductVM

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <img  style="height:125px;width:125px;" src="~/assets/images/@Model.ImageUrl" />
                    <input asp-for="ImageUrl" type="hidden" class="form-control" placeholder="Photo">

                </div>
                <div class="form-group">
                    <label asp-for="Photo">Photo</label>
                    <input asp-for="Photo" class="form-control" placeholder="Photo">
                    <span class="text-danger" asp-validation-for="Photo"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Catagory">Catagory</label>
                    <input asp-for="Catagory" type="text" class="form-control" placeholder="Catagory">
                    <span class="text-danger" asp-validation-for="Catagory"></span>
                </div>


                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button class="btn btn-light" asp-action="Index" asp-controller="Product">Cancel</button>
            </form>
        </div>
    </div>
</div>